* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/*Nav bar / Logo*/
nav {
  height: 80px;
  background: limegreen;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  overflow: hidden;
  top: 0;
  z-index: 999;
}
label.logo {
  color: white;
  font-size: 60px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 10px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 15px;
  padding: 5px 5px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  background: greenyellow;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
/*Body*/
/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  /* background-color:yellow; */
  background-image: url(/img/background.jpg);
  padding: 10px;
  overflow: auto;
}

.main {
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: yellowgreen;
  padding: 20px;
}

.slider {
  width: 100%;
  padding: 10px;
}
.slider img {
  width: 100%;
  height: 200px;
}
.slides {
  width: 100%;
  height: 70%;
}
.slide1 {
  position: relative;
}
.slide1 .prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.slide1 .next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

a img {
  width: 30px;
  height: 30px;
}
h1 {
  padding: 20px;
  color: crimson;
}
h2 {
  color: brown;
}
p {
  padding: 10px;
  font-size: 25px;
  color: brown;
}
h3 {
  color: crimson;
}
h4 {
  font-family: "Courier New";
  color: red;
  font-size: 25px;
}





/*Reponsive*/
@media (max-width: 952px) {
  label.logo {
    font-size: 40px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: limegreen;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: lawngreen;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
